# Python
__pycache__/
*.py[cod]
*.pyo

# Django database
*.sqlite3
db.sqlite3

# Environment variables
.env

# Django media and static
media/
static/
staticfiles/

# Virtual environment
venv/
env/

# Logs
*.log

# IDEs and editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Custom/local settings
falcon_clone/settings/local.py
update.sh
webhook.py

# Others
*.jar
*.mp4
__pycache__/
*.pyc
__pycache__/
*.pyc
__pycache__/
backup_prod_*.tar.gz
root/site/falcon_prod
site/falcon_prod
