{% extends 'main/base.html' %}
{% block title %}Дякуємо за замовлення{% endblock %}

{% block content %}
<div class="container py-5 text-center">
  <h2 class="mb-4">🎉 Дякуємо за ваше замовлення!</h2>
  <p>Ваше замовлення №<strong>{{ order.id }}</strong> успішно оформлено.</p>
  <p>Ми надіслали вам підтвердження на <strong>{{ order.email }}</strong>.</p>
  <p>Наш менеджер зв'яжеться з Вами найближчим часом</p>

  <div class="mt-4">
    <a href="{% url 'home' %}" class="btn btn-primary">На головну</a>
    <a href="{% url 'product_list' %}" class="btn btn-outline-secondary ms-2">Продовжити покупки</a>
  </div>
</div>
{% endblock %}
