{% extends 'main/base.html' %}
{% load static %}

{% block title %}Доставка і оплата — FalconOptics{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4 text-center">Доставка і оплата</h1>

    <section>
        <h2>Умови доставки</h2>
        <p>Ми пропонуємо доставку по всій Україні через надійних перевізників: Нова Пошта та інші.</p>
        <ul>
            <li>Строки доставки: від 1 до 3 робочих днів.</li>
            <li>Вартість доставки залежить від обраного оператора.</li>
            <li>Можливість отримання товару при зустрічі в Києві, що дає змогу перевірити якість товару на місці</li>
        </ul>
    </section>

    <section class="mt-4">
        <h2>Способи оплати</h2>
        <p>Ми приймаємо оплату наступними способами:</p>
        <ul>
            <li>Оплата при зустрічі.</li>
            <li>Оплата карткою онлайн (Visa, MasterCard).</li>

        </ul>
    </section>
    <section class="mt-4">
        <h2>Гарантія</h2>
        <p>На весь модельний ряд продукції Falcon / Sytong / NNPO діє гарантія від виробника 2 роки</p>
        <p>Гарантійне обслуговування поширюється, зокрема, на:</p>
        <ul>
            <li>збої та помилки в роботі програмного забезпечення</li>
            <li>виявлені виробничі дефекти, що впливають на працездатність пристрою</li>
        </ul>
        <p>Гарантія не поширюється на випадки, коли несправність приладу виникла внаслідок:</p>
        <ul>
            <li>порушення умов експлуатації</li>
            <li>необережного поводження, включно з механічними пошкодженнями, тріщинами, ударами, слідами падіння або потрапляння вологи</li>
        </ul>
        <p>У разі виникнення питань щодо гарантійного обслуговування, просимо звертатися до нашої служби підтримки.</p>
    </section>

     <section class="mt-4">
        <h2>Повернення товару</h2>
        <p>Ми цінуємо наших клієнтів і прагнемо забезпечити зручний процес повернення товару відповідно до Закону України «Про захист прав споживачів».</p>
        <ul>
            <li>Ви можете повернути товар протягом 14 календарних днів з моменту покупки без пояснення причин, якщо товар не використовувався, збережено його товарний вигляд, споживчі властивості, пломби, ярлики та оригінальну упаковку.</li>
            <li>У разі відкриття упаковки, але за умови, що товар не використовувався і збережено його товарний вигляд та споживчі властивості, сума буде зменшена на 15%, оскільки товар втрачає статус нового для подальшого продажу.</li>
            <li>Якщо товар має ознаки використання або пошкодження (включно з упаковкою), що унеможливлюють його продаж як нового, ми залишаємо за собою право відмовити в поверненні відповідно до законодавства.</li>
            <li>Для повернення достатньо звернутися до магазину — ми швидко оформимо повернення.</li>
        </ul>
    </section>

    <section class="mt-4">
        <h2>Питання та підтримка</h2>
        <p>Якщо у вас виникли питання щодо доставки або оплати, будь ласка, зв'яжіться з нашою підтримкою.</p>
        <a href="{% url 'support' %}" class="btn btn-primary mt-3">Зв’язатися з підтримкою</a>
    </section>
</div>
{% endblock %}
