{% extends 'main/base.html' %}
{% block title %}Підтримка — Falcon Optics{%endblock %}
{% block content %}
<h2 class="mb-4">Технічна підтримка</h2>
<p>
    Ми завжди готові допомогти вам з установкою, налаштуванням та використанням
    нашої продукції.
</p>

<ul>
    <li><a href="{% url 'faq' %}">Поширені запитання</a></li>
</ul>
<div class="mt-4">
    <h3>Якщо не знайшли відповідь на своє питання</h3>
    <p>
        Зателефонуйте за цим номером
        <a href="tel:0660911223">066 091-12-23</a>, щоб отримати
        відповідь на будь-яке питання стосовно нашої продукції.
    </p>
    <p>
        Або скористайтесь формою зворотного звязку через розділ <a href="{% url 'contact' %}">Контакти</a>.
    </p>
</div>

{% endblock %}
